body {
  font-family: "Raleway", sans-serif;
  color: #fff;
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);

}

header {
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  padding-bottom: 10rem;
}


h1, h2, h3{
   text-shadow: 3px 3px 2px #313140;
   color: #fff;
}

.card, .contact{
  color: #000
}

.carousel-item, img {
  margin: auto;
}
